/*
This script was created by Visual Studio on 24/05/2011 at 15:10.
Run this script on [OVS2\SQLEXPRESS.AirInterchange] to make it the same as [nvs10.AirInterchange].
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
ALTER TABLE [dbo].[Schematics] DROP CONSTRAINT [FK_Schematics_Interchange]
ALTER TABLE [dbo].[Mapping] DROP CONSTRAINT [FK_Mapping_Interchange]
ALTER TABLE [dbo].[LegNode] DROP CONSTRAINT [FK_LegNode_Interchange]
ALTER TABLE [dbo].[Accessibility] DROP CONSTRAINT [FK_Accessibility_Link]
ALTER TABLE [dbo].[NodeAction] DROP CONSTRAINT [FK_NodeAction_Node]
ALTER TABLE [dbo].[Link] DROP CONSTRAINT [FK_Link_Interchange]
INSERT INTO [dbo].[Interchange] ([ID], [TotalTime], [FromName], [FromNodeID], [FromNodeTypeID], [FromGridType], [FromEasting], [FromNorthing], [FromBay], [FromOperatorCode], [FromOperatorName], [ToName], [ToNodeID], [ToNodeTypeID], [ToGridType], [ToEasting], [ToNorthing], [ToBay], [ToOperatorCode], [ToOperatorName]) VALUES (1, 2, 'Airport Terminal', '0190NSZ01245', 'NaPTAN', 'UKOS', 350640, 165534, NULL, NULL, NULL, 'Bristol Airport Check In/Out', '9200BRS1', 'NaPTAN', 'UKOS', 350626, 165532, NULL, NULL, NULL)
INSERT INTO [dbo].[Interchange] ([ID], [TotalTime], [FromName], [FromNodeID], [FromNodeTypeID], [FromGridType], [FromEasting], [FromNorthing], [FromBay], [FromOperatorCode], [FromOperatorName], [ToName], [ToNodeID], [ToNodeTypeID], [ToGridType], [ToEasting], [ToNorthing], [ToBay], [ToOperatorCode], [ToOperatorName]) VALUES (2, 3, 'Airport Bus Station', '02901201', 'NaPTAN', 'UKOS', 511910, 221313, NULL, NULL, NULL, 'Luton Airport Check In/Out', '9200LTN1', 'NaPTAN', 'UKOS', 511787, 221363, NULL, NULL, NULL)
INSERT INTO [dbo].[Interchange] ([ID], [TotalTime], [FromName], [FromNodeID], [FromNodeTypeID], [FromGridType], [FromEasting], [FromNorthing], [FromBay], [FromOperatorCode], [FromOperatorName], [ToName], [ToNodeID], [ToNodeTypeID], [ToGridType], [ToEasting], [ToNorthing], [ToBay], [ToOperatorCode], [ToOperatorName]) VALUES (3, 3, 'Airport Bus Station', '02901202', 'NaPTAN', 'UKOS', 511906, 221325, NULL, NULL, NULL, 'Luton Airport Check In/Out', '9200LTN1', 'NaPTAN', 'UKOS', 511787, 221363, NULL, NULL, NULL)
INSERT INTO [dbo].[Link] ([ID], [InterchangeID], [Duration], [Frequency], [FrequencyMin], [FrequencyMax], [LinkAction], [Description], [Order]) VALUES (1, 1, 2, NULL, NULL, NULL, 'walk', 'Bus Stop to Check In', 1)
INSERT INTO [dbo].[Link] ([ID], [InterchangeID], [Duration], [Frequency], [FrequencyMin], [FrequencyMax], [LinkAction], [Description], [Order]) VALUES (2, 2, 3, NULL, NULL, NULL, 'walk', 'Walk from Bay 3 to Check In', 1)
INSERT INTO [dbo].[Link] ([ID], [InterchangeID], [Duration], [Frequency], [FrequencyMin], [FrequencyMax], [LinkAction], [Description], [Order]) VALUES (3, 3, 3, NULL, NULL, NULL, 'walk', 'Walk from Bay 2 to Check In', 1)
SET IDENTITY_INSERT [dbo].[ImportDetails] ON
INSERT INTO [dbo].[ImportDetails] ([ID], [Field], [Value]) VALUES (183, 'ImportDate', '17 Jan 2011  11:28:14')
INSERT INTO [dbo].[ImportDetails] ([ID], [Field], [Value]) VALUES (184, 'ImportSource', 'D:\Gateway\dat\Processing\xpy492\Interchange.xml')
INSERT INTO [dbo].[ImportDetails] ([ID], [Field], [Value]) VALUES (185, 'ErrorLevel', '1')
SET IDENTITY_INSERT [dbo].[ImportDetails] OFF
INSERT INTO [dbo].[LegNode] ([ID], [InterchangeID], [GeoCodeRef], [InterchangeNodeType], [Description], [NodeID], [NodeTypeID], [Order]) VALUES (1, 1, NULL, 'bus', 'Airport Terminal', '0190NSZ01245', 'NaPTAN', 1)
INSERT INTO [dbo].[LegNode] ([ID], [InterchangeID], [GeoCodeRef], [InterchangeNodeType], [Description], [NodeID], [NodeTypeID], [Order]) VALUES (2, 1, NULL, 'air', 'Bristol Airport Check In/Out', '9200BRS1', 'NaPTAN', 2)
INSERT INTO [dbo].[LegNode] ([ID], [InterchangeID], [GeoCodeRef], [InterchangeNodeType], [Description], [NodeID], [NodeTypeID], [Order]) VALUES (3, 2, NULL, 'bus', 'Airport Bus Station', '02901201', 'NaPTAN', 1)
ALTER TABLE [dbo].[Schematics] ADD CONSTRAINT [FK_Schematics_Interchange] FOREIGN KEY ([InterchangeID]) REFERENCES [dbo].[Interchange] ([ID]) ON DELETE CASCADE
ALTER TABLE [dbo].[Mapping] ADD CONSTRAINT [FK_Mapping_Interchange] FOREIGN KEY ([InterchangeID]) REFERENCES [dbo].[Interchange] ([ID]) ON DELETE CASCADE
ALTER TABLE [dbo].[LegNode] ADD CONSTRAINT [FK_LegNode_Interchange] FOREIGN KEY ([InterchangeID]) REFERENCES [dbo].[Interchange] ([ID]) ON DELETE CASCADE
ALTER TABLE [dbo].[Accessibility] ADD CONSTRAINT [FK_Accessibility_Link] FOREIGN KEY ([LinkID]) REFERENCES [dbo].[Link] ([ID]) ON DELETE CASCADE
ALTER TABLE [dbo].[NodeAction] ADD CONSTRAINT [FK_NodeAction_Node] FOREIGN KEY ([LegNodeID]) REFERENCES [dbo].[LegNode] ([ID]) ON DELETE CASCADE
ALTER TABLE [dbo].[Link] ADD CONSTRAINT [FK_Link_Interchange] FOREIGN KEY ([InterchangeID]) REFERENCES [dbo].[Interchange] ([ID]) ON DELETE CASCADE
COMMIT TRANSACTION
