<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="propertyservice.applicationid" value="TestApp" />
    <add key="propertyservice.groupid" value="TestGroup" />
    <add key="propertyservice.providerassembly" value="sjp.common.propertymanager.propertyproviders" />
    <add key="propertyservice.providerclass" value="SJP.Common.PropertyManager.PropertyProviders.FilePropertyProvider" />
    <add key="propertyservice.providers.fileprovider.filepath" value=".\TestProject.Properties.xml" />
    <add key="propertyservice.providers.databaseprovider.connectionstring" value="Integrated Security=SSPI;Initial Catalog=SJPConfiguration;Data Source=.\SQLExpress;Connect Timeout=30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="singleEmailAddress" value="TDPortalBuild@mail2.uk.atosorigin.com" />
    <add key="multiEmailAddress" value="TDPortalBuild@mail2.uk.atosorigin.com" />
    <add key="attachmentPath" value=".\TestProject.Properties.xml" />
    <add key="propertyservice.cryptography.key" value="HbiYITpTk8z43kg2xlVoMXW4JGK5r8fDxgTP/rrPte6YKxie8AIEy9VqnYzM3Kbgme4rgEYIzVyPg3nwU2d688tfe1QHttBNpie9WVpa/Hgy1+xyUnB6tD5PivYju+oIcnyoKjAYWK5RJ3BWzQruScI3IKm/DN4PY6ACfixU1Fw=" />
    <add key="propertyservice.cryptography.iv" value="8Zwl52Hpg0c3Jb6b441/wA==" />
    <add key="propertyservice.cryptography.strong" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="propertyservice.providers.databaseprovider.connectionstring" connectionString="Integrated Security=SSPI;Initial Catalog=SJPConfiguration;Data Source=.\SQLExpress;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="TestProvider" enabled="true">
      <providers>
        <add name="TestProvider"
          description="The site map provider that reads in the .sitemap XML files."
          type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
  </system.web>
</configuration>