/*
This script was created by Visual Studio on 20/04/2011 at 08:45.
Run this script on [OVS2\SQLEXPRESS.PermanentPortal] to make it the same as [nvs10.PermanentPortal].
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/

USE PermanentPortal
Go

SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO



/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
DELETE FROM [dbo].[properties]
INSERT INTO [dbo].[properties] ([pName], [AID], [GID], [PartnerId], [ThemeId], [pValue]) VALUES (N'AdditionalDataDB', N'AdditionalDataModule', N'UserPortal', 0, 1, N'data source=DEVDB; initial catalog=AdditionalData; user id=steve; password=password; persist security info=False')
INSERT INTO [dbo].[properties] ([pName], [AID], [GID], [PartnerId], [ThemeId], [pValue]) VALUES (N'AdditionalDataDB', N'EnhancedExposedServices', N'UserPortal', 0, 1, N'data source=DEVDB; initial catalog=AdditionalData; user id=steve; password=password; persist security info=False')
INSERT INTO [dbo].[properties] ([pName], [AID], [GID], [PartnerId], [ThemeId], [pValue]) VALUES (N'AdditionalDataDB', N'TDPlannerHost', N'TDPlannerHost', 0, 1, N'Server=D03;Initial Catalog=AdditionalData;Trusted_Connection=true;')







COMMIT TRANSACTION
